.app {
  position: relative;
}

.resultCard {
  position: absolute;
  width: 80%;
  min-height: 20vh;
  top: 25vh;
  left: 10%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

@media (max-width: 375px) {
  .resultCard {
    min-height: 46vh;
    top: 23vh;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  z-index: 101;
  position: absolute;
  bottom: 1px;
}

@media (max-width: 500px) {
  .attribution {
    right: 0;
    bottom: 13px;
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
